*{
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0;
}
$body-bg:#ffff;
$second-bg:#1f1f1f;
$footerbg:#121413;
$firs-text-color:#ffff;
$second-text-color:#151616;
$third-text-color:#c4c4c4;
html{
    font-size: 10px;
}
body{
    background-color: $body-bg;
}
main{
    background-image: url(../img/Фон\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logot{
    padding: 0;
}
.mobile_menu{
    padding: 9px;
    flex-direction: column;
    display: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 3px solid white;
    justify-content: space-around;
    align-items: center;
}
.hed{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
        li{
            display: inline;
            padding: 0 1rem;
        }
}
.hed{
    .link{
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 18px;
        color: $firs-text-color;
        text-decoration: none;
        transition: 0.8s;
        &:hover{
            border-bottom: 2px solid #ffff;
            padding-bottom: 1rem;   
        }
    }
}
.korzina{
    color: $firs-text-color;
    font-size: 1.5rem;
    font-weight: 700;
    &::before{
        content: url(../img/shopping-basket\ 1.png);
        position: relative;
        right: 2rem;
        top: 0.5rem;
        background-color: #281c14;
        border-radius: 100%;
    }
}
.korzina::after{
    content: url(../img/Vector\ 1.png);
    position: relative;
    left: 10px;
    bottom: 3px;
}
.pekarnya{
    background-image: url(../img/oborot\ 1.png);
    background-repeat: no-repeat;
    background-position: right 0 top 5.8rem;
}
.zagolovok{
    width: 85vw;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 25rem;
    h2{
        font-size: 7.3em;
        font-weight: 800;
        line-height: 74px;
        color: $firs-text-color;
        padding-top: 10rem;
        padding-bottom: 6.5rem;
        padding-left: 25px;
    }
}
p{
    font-size: 2.1em;
    font-weight: 400;
    line-height: 26px;
    color: $firs-text-color;
    padding: 0 0 7rem 2.5rem;
}
.look{
    padding: 3rem;
    background-color: #c98d5a;
    font-size: 1.8em;
    font-weight: 500;
    line-height: 22px;
    border: none;
    border-radius: 50px;
    margin-left: 2.5rem;
    &:hover{
        background-color: chocolate;
        color: $firs-text-color;
    }
}
.us{
    justify-content: center;
    .why{
        text-align: center;
        margin-top: 8.43vh;
        h3{
            color: $second-text-color;
            font-size: 8.43vh;
            font-weight: 800;
            line-height: 10.4vh;
        }
    }
    
}
.why::after{
    content: url(../img/Group\ 7.png);
    position: relative;
    top: 6.32vh;
}
.skill{
    display: flex;
    justify-content: center;
    gap: 13rem;
    margin-top: 13vh;
    padding-bottom: 11.81vh;
    .stext{
        font-size: 2.81vh;
        font-weight: 400;
        color: #767676;
        padding-top: 5vh;
        text-align: center;
        border-top: 3px solid #767676;
    }
}
img{
    padding-left: 1.5vw;
    padding-bottom: 5.5vh;
}
.bred{
    background-image: url(../img/fresh-brown-bread-on-the-table\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    .ztext{
        font-size: 6rem;
        font-weight: 800;
        line-height: 10.4vh;
        color: $firs-text-color;
        text-align: center;
        padding-top:11.45vh;
        padding-bottom: 11.45vh;
    }
}
.vibir{
    display: flex;
    justify-content: center;
    gap: 1rem;
    .vib{
        font-size: 2.1em;
        font-weight: 500;
        color: $third-text-color;
        background-color: rgba(0, 0, 0, 0);
        padding: 1.5rem 4.5rem;
        border: 2px solid $third-text-color;
        border-radius: 3rem;
        &:hover{
            background-color: $firs-text-color;
            color: $second-text-color;
        }
    }
}
.vibor{
        font-size: 2.1em;
        font-weight: 500;
        color: $third-text-color;
        background-color: #c98d5a;
        padding: 1.5rem 4.5rem;
        border-radius: 3rem;
        border: none;
        &:hover{
            background-color: chocolate;
            color: $second-text-color;
        }
}
.hlib{
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding-top: 11vh;
    padding-bottom: 20vh;
}
.white{
    text-align: center;
    background-color: $second-bg;
    border-radius: 7vh;
    .htext{
        font-size: 3.37vh;
        font-weight: 700;
        color: $third-text-color;
        padding-top: 1.4vh;
    }
}
.hltext{
    font-size: 1.5rem;
    font-weight: 500;
    color: $third-text-color;
    line-height: 18px;
    padding: 0 0 20px 0;
}
.dar{
    padding: 0 0 26px 13px;
}
.ps{
    padding: 19px 0 21px 14px;
}
.wh{
    padding: 0 0 0 7px;
}
.arow{
    padding: 0;
}
.but{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;
    flex-direction: row-reverse;
    .ves{
        background-color: #f59b4d;
        padding: 9px 5px;
        color: $second-text-color;
        font-size: 1.5rem;
        font-weight: 400;
        border: none;
        &:hover{
            background-color: chocolate;
            color: $firs-text-color;
        }
    }
}
.strel{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.about_us{
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 11vh;
    .abtext{
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        padding: 0;
    }
}
.avt{
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    text-align: right;
    padding: 2.81vh 0 0 0;
}
.abus{
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    color: #000000;
    padding-top: 8.43vh;
    padding-bottom: 6.32vh;
}
.stre{
    text-align: center;
}
.gr7{
    padding: 0 0 6.32vh 0;
}
.product{
    background-image: url(../img/fresh-brown-bread-on-the-table\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    .p{
        width: 80vw;
        margin: 0 auto;
        .prod{
            font-size: 6rem;
            font-weight: 800;
            color: $firs-text-color;
            text-align: center;
            padding-top: 10vh;
            padding-bottom: 9vh;
        }
    }
}
.bulki{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 9.6vh;
}
.baget{
    padding: 0;
}
.left,
.right{
    display: flex;
    flex-direction: column;
}
.magaz,
.pichenka,
.baget,
.piro,
.kryasan{
    padding: 0;
}
.magaz,
.piro{
    margin-bottom: 6vh;
}
.footer{
    background-color: $footerbg;
    .foo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        margin: 0 auto;
    }
}
.logon{
    padding: 0;
}
.adres{
    text-align: left;
    .adr{
        font-size: 2rem;
        font-weight: 700;
        color: $firs-text-color;
    }
}
.adre{
    font-size: 1.6rem;
    font-weight: 400;
    color: $firs-text-color;
    text-align: left;
    padding: 0;
}
.tel{
    text-align: right;
    color: $firs-text-color;
    font-size: 2.4rem;
    font-weight: 700;
}